:root {
  --branding-color: #721bffbf;
  --secondary-color: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --bow-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  font-family: var(--default-font-family);
}

nav {
  padding: 20px 0;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
  font-size: 20px;
}

nav a:hover {
  color: var(--branding-color);
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
    font-size: 43px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

h4 {
  font-size: 45px;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 250px 20px 160px;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #230632b9;
}

.project-description {
  padding: 0px 60px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.about-section {
  padding: 160px 20px 160px;
}

.about-section-content {
  margin: 0 30px 30px;
}

.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}

.about-section h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content-container {
  padding: 30px 20px 160px;
}

.content {
  margin: 30px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
  opacity: 1;
}

.content p {
  font-size: 14px;
}

footer {
  margin: 100px 0 60px;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

@media (max-width: 900px) {
  nav {
    padding: 10px 0;
  }

  nav a {
    font-size: 14px;
  }

  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 40px;
  }

  h4 {
    font-size: 26px;
  }

  p {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
  }

  .hero {
    padding: 120px 20px 80px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .about-section {
    text-align: center;
    padding: 100px 20px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .content-container {
    padding: 160px 20px;
  }

  .content h1 {
    font-size: 42px;
    line-height: 60px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  footer .email-link {
    font-size: 20px;
  }

}




